<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 <bean id="school" class="spring.core.school">
 <property name="Class" ref="Class1"></property>
 </bean>
<bean id="Class1" class="spring.core.schoolClass"></bean>
</beans>